bin/
lib/
build/
out/
.classpath
.project
.settings
.jazzignore
.jazz5/
.jazzShed/
.metadata/
.idea/
.gradle/
*.iml
.jazz
*.jar
*.class
*.log
_old/
.name
misc.xml
uiDesigner.xml
workspace.xml
rebel.xml
.donna-environment
.targetplatform
.rtc2git/
/build.generiek/
/build.generiek.utility.ant.task/
/build.pti/libraries/generiek/**/*.ear
/build.pti/libraries/generiek/**/*.zip
/build.pti/libraries/targetPlatform/
/build.pti/*.zip
*/result/
junittestcases*.properties
junit*.properties
reports/

!gradle-wrapper.jar
